$font-core: 'Open Sans', sans-serif;
$font-alt: 'Source Code Pro', monospace;

$color-black:        rgba(0, 0, 0, 0.84);
$color-gray:         rgba(0, 0, 0, 0.54);
$color-gray-light:   rgba(0, 0, 0, 0.20);
$color-gray-muted:   rgba(0, 0, 0, 0.10);
$color-link:         hsl(210, 70%, 40%);
$color-link-visited: hsl(280, 70%, 40%);

$color-task: hsl(150, 50%, 80%);
$color-task-bg: hsl(150, 50%, 90%);
$color-task-font: hsl(150, 50%, 20%);

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: $font-core;
  line-height: 1.4;
}

p {
  margin-bottom: 0.8em
}

ul {
  margin-bottom: 1em;
  margin-left: 1.5em;

  ul {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }
}

hr {
  margin: 1em 0;
  background-color: $color-gray-light;
  height: 1px;
}

small {
  font-size: 0.85em;
}

h1 { font-size: 3.0rem; margin: 1.5rem 0 1.8rem 0; }
h2 { font-size: 2.0rem; margin: 1.0rem 0 1.3rem 0; }
h3 { font-size: 1.5rem; margin: 0.5rem 0 0.8rem 0; }
h4 { font-size: 1.2rem; margin: 0.2rem 0 0.5rem 0; }

h1,h2,h3,h4 {
  a { text-decoration: none }
}

section {
  margin-bottom: 2rem;
}

pre {
  padding: 1rem;
  overflow-x: scroll;
  font-size: 0.85rem;
  margin-bottom: 1rem;
  max-width: 50rem;
}

code {
  color: #e74c3c;
  border: 1px solid #ecf0f1;
  padding: 5px;
  border-radius: 5px;
  background: rgba(236, 240, 241, 0.19);
}

table {
  tr:nth-child(even) {
    background-color: $color-gray-muted;
  }

  th {
    padding: 0.4em 0.6em;
    background-color: $color-gray-light;
  }

  td {
    padding: 0.2em 0.4em;
  }
}

a {
  &:link {
    color: $color-link;
  }

  &:visited {
    color: $color-link-visited;
  }
}

blockquote {
  border-left: 4px solid $color-task;
  background-color: $color-task-bg;
  padding: 0.4em 0.8em;
  margin-bottom: 1em;
  width: 80%;
  & > p {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
}


.tags {
  margin-bottom: 1rem;
}

.tag {
  font-size: 0.7em;
  border: 1px solid $color-gray-light;
  padding: 0.15em 0.4em;
  text-decoration: none;
  color: inherit;
  border-radius: 4px;
  position: relative;
  bottom: 0.2em;

  &:hover {
    background-color: $color-link;
  }
}

.container {
  display: flex;
  width: 960px;
  padding: 1em;
  margin: 0 auto;
}

.padding-header {
  padding-top: 6rem;
}

.header {
  border-bottom: 1px solid $color-gray-light;
  display: flex;
  margin-bottom: 2rem;
  background: white;
  position: fixed;
  width: 100%;

  .title {
    flex-grow: 1;
    text-decoration: none;
    line-height: 1.5rem;
    margin-right: 2em;
    min-width: 15rem;

    h1 {
      display: inline-block;
      font-family: $font-alt;
      color: $color-black;
      font-size: 2rem;
      margin: 0;
    }

    img {
      display: inline-block;
      height: 25px;
      margin-right: 10px;
    }
  }

  .links {
    display: inline-block;
    list-style: none;
    line-height: 2rem;
    margin-bottom: 0;

    li {
      display: inline-block;
      margin: 0 1em;
    }

    a {
      text-decoration: none;
      color: inherit;
      &:hover { text-decoration: underline; }
    }
  }
}


main {
  word-break: break-word;
  overflow: auto;

  #introduction {
    margin-bottom: 2em;
  }
}

.task-listing-container {
  margin-bottom: 2em;

  ul {
    column-count: 3;
    margin-left: 2em;
  }

  li {
    font-size: 0.9rem;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.sidebar {
  min-width: 15rem;
  display: none;

  h3 {
    font-size: 1.2rem;
    color: $color-black;
    border-bottom: 1px solid $color-gray-light;
  }

  ul {
    list-style-type: none;
    margin-left: 1em;
  }

  @media screen and (min-width: 900px) {
    display: initial;
    padding-right: 2em;
  }
}

.section-container {
  ul {
    columns: 2;
    margin-left: 2em;
    font-size: 1.1rem;
  }
}

.taxonomy ul {
  columns: 2;
  line-height: 1.4;

  a {
    text-decoration: none;
    color: $color-link;
  }
}

.page-title {
  margin: 0 0 30px;
  font-size: 26px;
}

.page-heading {
  word-break: break-word;
}

.page-navigator {
  margin-bottom: 15px;
  text-align: center;

  & > span, & > a {
    color: $color-gray-light;
    font-size: 12px;
  }

  & > .pages {
    color: $color-gray;
    font-size: 15px;
    margin: 0 10px;
  }

  & > a {
    color: $color-link;
    text-decoration: none;
  }
}

.task {
  font-size: 1.1em;
  color: $color-task-font;
  border: 1px solid $color-task;
  border-radius: 5px;
  background-color: $color-task-bg;
  padding: 0.8em 1.4em;
  margin-bottom: 2rem;
}

footer {
  border-top: 1px solid lightgray;
  color: gray;
  padding: 1em 0;
  text-align: center;
}

@import "post.scss";
