{% extends "index.html" %}

{% block content %}
<div id="section-tag">
  <h2>
    <span class="tag">
      {{term.name}}
    </span>
  </h2>

  <ul>
    {% for page in term.pages %}
      <li>
        {% if page.components is containing("tasks") %}
          <span>Task</span>
        {% elif page.components is containing("languages") %}
          <span>Language</span>
        {% endif %}
        <a href="{{page.permalink}}">
          {{page.title}}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
