{% extends "index.html" %}

{% block content %}
  <h2>Languages</h2>

  <div id="languages-content">
    {% if terms %}
      <h3>With Tasks</h3>

      <ul>
        {% for category in terms %}
          <li>
            <a href="{{ category.permalink }}"
              >{{ category.name | capitalize }}</a>
            <small>
              ({{ category.pages | length }})
            </small>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <h3>Without Tasks Yet</h3>


    {% set langsSection = get_section(path="languages/_index.md") %}
    {% set taxonomy = get_taxonomy(kind="languages") %}
    {% set languages = taxonomy.items | map(attribute="name") %}

    <ul>
      {% for lang in langsSection.pages %}
        {% if languages is not containing(lang.slug) %}
          <li>
            {% if lang.template %}
              Yes
            {% endif %}
            <a href="{{lang.permalink}}">{{lang.title}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

{% endblock content %}
