{% extends "index.html" %}

{% block content %}
<div id="section-language">
  <section>
    {% set langsSection = get_section(path="languages/_index.md") %}
    {% set singleton = langsSection.pages |
        filter(attribute="slug", value=term.slug)
    %}
    {% set termTitle = singleton[0] | get(key="title") %}

    <h2>
      {% if term.name %} {{termTitle}}
      {% else %} {{ page.title }}
      {% endif %}
    </h2>

    {% if term.name %}
      {% set language = get_page(path="languages/" ~ term.name ~ ".md") %}
    {% else %}
      {% set language = page %}
    {% endif %}

    <div class="tags">
      {% if language.taxonomies.tags %}
        {% for tag in language.taxonomies.tags %}
          <a
            class="tag"
            href="{{ get_taxonomy_url(kind="tags", name=tag) }}"
          >{{ tag }}</a>
        {% endfor %}
      {% endif %}
    </div>

    {{ language.content | safe }}
  </section>

  {% if term.pages %}
    <section>
      <h3>Tasks</h3>

      <ul>
        {% set pgsSorted = term.pages | sort(attribute="title") %}
        {% for taskPage in pgsSorted %}
          <li>
            <a href="{{taskPage.permalink}}#{{term.slug}}">
              {{taskPage.title}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
</div>
{% endblock content %}
