{% extends "index.html" %}

{% block title %} {{page.title}} {% endblock title %}
{% block ogtitle %} {{page.title}} {% endblock ogtitle %}">
{% block ogdesc %} {{page.description}} {% endblock ogdesc %}">
{% block ogurl %}{{page.permalink}}{% endblock ogurl%}">
{% block ogaltimg %}{{page.title}}{% endblock ogaltimg %}">
{% block ogimg %}
  {% if page.extra.image %}
    {{page.extra.image}}
  {% else %}
    {% if config.extra.og_image %}
      {{config.extra.og_image}}
    {% endif %}
  {% endif %}
{% endblock ogimg %}

{% block content %}
  <article
    id="page-{{page.slug}}"
    itemscope
    itemtype="http://schema.org/BlogPosting"
    class="post post-page"
  >

    {% if page.extra.image %}
      <meta itemprop="image" content="{{page.extra.image}}">
    {% else %}
      {% if config.extra.og_image %}
        <meta itemprop="image" content="{{config.extra.og_image}}">
      {% endif %}
    {% endif %}

    <div itemprop="articleBody">
      {% if page.extra.task %}
        <div class="task">
          {{page.extra.task | markdown | safe}}
        </div>
      {% endif %}

      {{ page.content | safe }}
    </div>
  </article>
{% endblock content %}

{% block sidebar %}
  <h2 class="page-heading" itemprop="headline">
    {{ page.title }}
  </h2>

  {% if page.taxonomies.tags %}
    <div>
      {% for tag in page.taxonomies.tags %}
        <a
          class="tag"
          href="{{ get_taxonomy_url(kind="tags", name=tag) }}"
        >{{ tag }}</a>
      {% endfor %}
    </div>
  {% endif %}

  <hr>

  <p>
    <ul>
      <li>
        {% set repoUrl = "https://github.com/ad-si/RosettaGit" %}
        {% set contentPath = repoUrl ~ "/tree/master/content" %}

        <a href="{{contentPath}}/{{page.relative_path | safe}}">
          Edit this page
        </a>
      </li>
      <li>
        {% set title = page.title | as_str %}
        {% set queryParams = "body=Issue+on+page+%22" ~ title ~ "%22:&" ~
                             "assignees=ad-si" %}

        <a href="{{repoUrl}}/issues/new?{{queryParams}}">
          Submit an issue
        </a>
      </li>
    </ul>
  </p>

  <hr>

  {% if toc %}
    <div class="post-toc" id="post-toc">
      <h2 class="post-toc-title">Contents</h2>
      <div class="post-toc-content always-active">
        <nav id="TableOfContents">
          <ul>
            {% for h1 in toc %}
            <li>
              <a href="{{h1.permalink | safe}}" class="toc-link">
                {{ h1.title }}
              </a>
              {% if h1.children %}
              <ul>
                {% for h2 in h1.children %}
                <li>
                  <a href="{{h2.permalink | safe}}" class="toc-link">
                    {{ h2.title }}
                  </a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  {% endif %}

  {% if page.extra.relative_posts %}
    <div class="relative-posts">
      {{config.extra.label_relative_posts}}:
      <ul class="base-list">
        {% for relative in page.extra.relative_posts %}
          <li>
            - <a href="{{config.base_url}}{{relative.url}}">{{relative.label}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <hr>

  <p>
    <small>
      Search for this page on <br>
      <a href="https://rosettacode.org/mw/index.php?search={{page.title}}">
        Rosetta Code
      </a>
    </small>
  </p>

{% endblock sidebar %}
